@font-face {
  font-family: "soehne";
  font-style: normal;
  src: url(./assets/fonts/TestSohneBreit-Dreiviertelfett-BF663d89c955618.otf) format("opentype");
}

@font-face {
  font-family: "orbitron";
  src: url(./assets/fonts/Orbitron-VariableFont_wght.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  * {
    @apply overflow-x-hidden;
  }

  html {
    scroll-behavior: smooth !important;
    background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
  }

  #root {
    @apply relative;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Section 1 */
  main {
    background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
  }

  .bg-transition {
    @apply relative z-10;
  }

  .bg-transition::before {
    @apply absolute inset-0 bg-slate-300 rounded-3xl opacity-0 transition-all duration-500 ease-in-out;
    content: "";
    z-index: -1;
  }

  .bg-transition:hover::before,
  .bg-transition:focus::before,
  .bg-transition:active::before {
    @apply opacity-100 scale-100;
  }

  .bg-transition::before {
    transform: scale(0.3);
  }

  .bg-transition:hover::before {
    transform: scale(1);
  }

  canvas {
    @apply h-screen w-screen;
  }

  .jet {
    @apply absolute left-0 bottom-0;
  }

  .btn-download {
    position: relative;
    overflow: hidden;
    transition: all 0.45s ease-in-out;
  }

  .btn-text {
    transition: all 0.45s ease-out;
  }

  .btn-download:before,
  .btn-download:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: black;
    z-index: -1;
    transition: all 0.45s ease-in-out;
  }

  .btn-download:before {
    opacity: 0.5;
  }

  .btn-download:after {
    transition-delay: 0.2s;
  }

  .btn-download:hover {
    color: #fff;
    padding: 12px 40px;
  }

  .btn-download:hover .btn-text {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0px) !important;
  }

  .btn-download:hover:before,
  .btn-download:hover:after {
    top: 0;
  }

  /* Section 2 */

  .journey #mainPath:hover {
    stroke: black !important;
    cursor: default;
  }

  .path,
  .circle {
    transition: all 0.45s ease-in-out;
  }

  .journey path:hover,
  circle:hover {
    stroke: red;
    cursor: pointer;
  }

  .batas {
    height: 85vh;
  }

  /* Section 3 */
  .scroll-section-outer {
    overflow: hidden;
  }

  .scroll-section-inner {
    height: 100vh;
    width: 400vw;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .card {
    position: relative;
    /* background-color: hsla(0, 0%, 100%, 0.3); */
    background-color: #f0f0f0;
    transition: all 0.45s ease-in-out;
  }

  .card:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }

  .card:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  .card-keyword h4 {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: small;
    font-family: "orbitron";
    border: 1px solid black;
    padding: 2px 10px;
  }

  .card-technology h5 {
    margin-top: 10px;
    font-size: xx-large;
  }

  /* Section 4 */
  .technology {
    height: 85vh;
    margin-bottom: 150vh;
    overflow: hidden;
    background-color: #f0f0f0;
    z-index: 10;
  }

  /* Section 5 */
  .form {
    /* margin-top: -100vh; */
    height: 85vh;
  }

  .btn-form {
    transition: all 0.2s ease-in-out;
  }

  .btn-form:before {
    content: "\2197";
    font-size: 35px;
    position: absolute;
    bottom: -100%;
    right: 40%;
    transition: all 0.3s ease-in-out 0.005s;
  }

  .btn-form:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: black;
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }

  .btn-form:hover {
    color: white;
    z-index: 2;
  }

  .btn-form:hover:before {
    bottom: 27%;
    right: 10%;
  }

  .btn-form:hover:after {
    left: 0;
  }

  .btn-form span {
    position: relative;
    width: 25px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .btn-form:hover span {
    transform: translate(160%, -160%);
  }

  .form-email,
  .home-link {
    position: relative;
    color: rgb(187, 3, 3);
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .form-email:before,
  .home-link:before {
    content: "";
    border-bottom: 1px solid black;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
  }

  .form-email:hover:before,
  .home-link:hover:before {
    width: 100%;
  }

  .socmed-box:hover {
    cursor: pointer;
  }

  .github,
  .instagram,
  .linkedin {
    transition: all 0.3s ease-in-out;
  }

  .socmed-box:nth-child(1):hover .github {
    scale: 1.5;
  }
  .socmed-box:nth-child(2):hover .instagram {
    scale: 1.5;
  }
  .socmed-box:nth-child(3):hover .linkedin {
    scale: 1.5;
  }

  /* Contact */
  .contact-info {
    position: relative;
  }

  .btn-submit {
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  .btn-submit:hover {
    color: #f0f0f0 !important;
  }

  .btn-submit:before {
    content: "";
    background-color: black;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out 0.15s;
    z-index: -10;
  }

  .btn-submit:after {
    content: "";
    background-color: rgba(110, 110, 110, 0.487);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    z-index: -15;
  }

  .btn-submit:hover:before {
    top: 0%;
  }

  .btn-submit:hover:after {
    top: 0%;
  }

  .contact-info input:focus,
  textarea:focus {
    outline: none;
    box-shadow: none;
  }

  .radio-grup {
    transition: all 0.3s ease-in-out;
  }

  .radio-grup:hover {
    border: 2px solid black;
    cursor: pointer;
  }

  .fn,
  .email,
  .company,
  .message {
    position: relative;
  }

  .line:before,
  .line2:before,
  .line3:before,
  .line4:before {
    content: "";
    border-bottom: 2px solid black;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
  }

  #fullname:hover + .line:before {
    width: 100%;
  }

  #email:hover + .line2:before {
    width: 100%;
  }

  #company:hover + .line3:before {
    width: 100%;
  }

  #message:hover + .line4:before {
    width: 100%;
  }

  #fullname:focus + .line:before {
    width: 100%;
  }

  #email:focus + .line2:before {
    width: 100%;
  }

  #company:focus + .line3:before {
    width: 100%;
  }

  #message:focus + .line4:before {
    width: 100%;
  }

  .contact-info {
    position: relative;
  }

  /* Loader */
  .star-container {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: max-content;
    height: 150px;
    width: 150px;
  }

  .star {
    height: 96px;
    width: 96px;
    position: relative;
    z-index: 99;
    animation: rotate 2s ease infinite;
  }

  .corner {
    height: 50%;
    width: 50%;
    border: 2.5px solid white;
    position: absolute;
    animation: radius 2s ease infinite;
  }

  .corner--top-left {
    top: 0;
    left: 0;
  }

  .corner--top-right {
    top: 0;
    right: 0;
  }

  .corner--bottom-right {
    bottom: 0;
    right: 0;
  }

  .corner--bottom-left {
    bottom: 0;
    left: 0;
  }

  .about * {
    overflow: hidden;
  }

  .back {
    width: 100%;
    height: 284px;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes radius {
    0% {
      border-radius: 15%;
    }
    50% {
      border-radius: 55%;
    }
    100% {
      border-radius: 15%;
    }
  }
}
